@import "menuCabecera.css";

nav{
  position: sticky;
  top: 0;
}

.cuerpo{
  padding: 3vw;
  display: flex;
}

.preguntas{
  padding-right: 2vw;
}

figure{
  margin: auto;
}

img{
  border-radius: 5px;
}
