@import "estilos.css";

/* cabecera */
#cabecera {
  background-color: var(--verde_osc);
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

#cabecera h1, #cabecera h2 {
  position: absolute;
}

#cabecera h1 {
  left: 200px;
  top: 50px;
  margin-bottom: 25px;
  font-size: 4.5vw;
}

#cabecera>h2 {
  left: 420px;
  bottom: 0px;
  margin-bottom: 25px;
  font-size: 2vw;
}

#cabecera figure {
  margin: 0;
}

#cabecera img {
  width: 10%;
  padding: 1vw;
}

#cabecera ul {
  position: absolute;
  right: 2%;
  top: 13%;
  list-style: none;
  font-size: 1.3vw;
}

#cabecera li {
  padding: 0.2vw;
}

#cabecera a {
  color: white;
}

/* menu de navegacion */
nav {
  background-color: var(--verde_nav);
  z-index: 2;
}

nav, .submenu, nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul {
  list-style: none;
  display: flex;
}

nav>ul>li {
  display: block;
  padding: 1vw;
  color: white;
  flex-grow: 3;
  text-align: center;
  position: relative;
  margin: auto;
}

.redes {
  flex-grow: 0.5;
}

nav>ul>li>a {
  display: block;
  text-decoration: none;
  color: white;
}

nav li:hover {
  transition: all 0.3s;
  background:rgba(17, 43, 20, 0.33);
}

nav>ul>li:hover>ul {
  transition: all 0.5s;
  display: block;
}

.submenu {
  list-style: none;
  display: none;
  width: 100%;
  position: absolute;
  right: 0%;
  top: 100%;
  background-color: var(--verde_nav);
}

.submenu>li>a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1vw;
}

.redes figure {
  margin: auto;
}

.redes img {
  height: 22px;
}

/* footer */
footer {
  background-color: var(--footer);
  color: white;
  margin: 0;
}

footer>div {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 4vw;
  margin: auto;
}

footer>div>ul {
  margin: auto;
  padding-left: 0;
}

footer>div li {
  padding: 1vw;
  list-style: none;
}

/* mapa */
iframe {
  margin: auto;
  width: 100%;
  height: 100%;
}

/* formulario de contacto */
footer form {
  display: grid;
  grid-gap: 1vw;
  grid-template-rows: 0.5fr 1fr 0.3fr 0.5fr;
  background-color: #ec8500;
  border-radius: 5px;
  padding: 1vw;
}

footer form>* {
  padding: 0.5vw;
  font-family: sans-serif;
}

footer>* {
  padding: 2vw;
  border-radius: 5px;
}

footer form>label{
  font-weight: bold;
  text-align: center;
}

textarea{
  resize: none;
}

input[type="submit"] {
  cursor: pointer;
  color: white;
  background-color: #1a215e;
  border: 0;
  font-size: 1vw;
  border-radius: 5px;
}

/* politicas */
footer>ul {
  list-style: none;
  margin: auto;
  text-align: center;
}

footer>ul li {
  display: inline-block;
  padding: 0 2vw;
  font-size: 1vw;
}

.politicas {
  background-color: #4d4949;
  padding: 0.5vw 2vw;
}

footer a {
  color: white;
}
