@import "menuCabecera.css";

.cuerpo{
  display: flex;
  padding: 4vw;
  padding-right: 0;
  justify-content: space-around;
}

.cuerpo figure{
  height: 100%;
  margin: auto;
}

.cita {
  width: 30%;
  background-color: var(--verde_osc);
  border-radius: 10px;
  padding: 3vw;
  color: white;
  display: grid;
  grid-template-areas: "titulo titulo" "servicio servicio""fecha hora" "nombre nombre" "correo correo" "telefono telefono" "btn btn";
  grid-gap: 2vw;
  box-shadow: 0px 5px 10px 1px #c9c9c9;
}

.cita h1{
  grid-area: titulo;
  font-size: 2.5vw;
  text-align: center;
  margin: 0;
}

.cita > * {
  padding: 0.7vw;
  font-size: 1.1vw;
  border-radius: 5px;
}

.cita #servicios {
  grid-area: servicio;
}

.cita select, .cita input {
  border: 0;
}

.cita select {
  cursor: pointer;
}

.cita input[type="text"] {
  grid-area: nombre;
}

.cita input[type="email"] {
  grid-area: correo;
}

.cita input[type="tel"] {
  grid-area: telefono;
}

.cita input[type="submit"] {
  grid-area: btn;
  cursor: pointer;
  color: white;
  background-color: var(--naranja);
  border: 0;
  font-size: 1.3vw;
}

.precios{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 27%;
  padding: 0 2vw;
  margin-left: 2vw;
  font-size: 80%;
  color: var(--verde_osc);
  border: solid 2px;
  border-radius: 5px;
}

.precios > h1{
  font-size: 3vw;
  margin: 0;
}

.precios > h2{
  font-size: 2vw;
  padding: 1vw;
  margin: 0;
  color: var(--verde_osc);
}

.precios > div {
  padding: 1vw;
  border-radius: 5px;
  border: solid 2px;
}

.precios > div > h2{
  margin: 0;
  padding-bottom: 1vw;
  font-size: 2vw;
}

.precios table {
  border-collapse: collapse;
  width: 100%;
}

.precios th, .precios td{
  border: solid 2px;
  padding: 0.5vw;
  background-color:var(--verde_osc);
  color: white;
}
